.font-blogtitle {
    font-family: 'Prociono', serif;
    font-size: 2.5em;
    font-weight: 100;
}
.font-blogtekst {
    font-family: 'Prociono', serif;
    font-size: 1.5em;
    font-weight: 50;
}
.font-small {
    font-family: 'Prociono', serif;
    font-size: 1em;
    font-weight: 50;
}
