body {
    padding-top: 50px;
    font-family: Source Code Pro, Helvetica;
}

.start-template {
    padding: 40px 15px;
    text-align: center;
}

#topbar {
    min-height: 30px;
    height: 30px;
    line-height: 1;
    font-size: 0.8em;
}

#topbar .navbar-brand {
    font-size: 1.2em;
    padding-top: 4px;
    padding-bottom: 4px;
}

#topbar .navheader {
}
#topbar .navbar-toggle {
    padding: 5px 9px;
    margin: 0px 0px;
}

#topbar li a {
    padding-top: 4px;
    padding-bottom: 4px;
}

#topbar li .active {
    padding-top: 4px;
    padding-bottom: 4px;
}

.glyphicon-remove {
    color: #FF0004;
}

.glyphicon-ok {
    color: #00A41E;
}
