body {
    padding-top: 50px;
    font-family: Source Code Pro, Helvetica;
}

.start-template {
    padding: 40px 15px;
    text-align: center;
}

#topbar {
    min-height: 30px;
    height: 30px;
    line-height: 1;
    font-size: 0.8em;
}

#topbar .navbar-brand {
    font-size: 1.2em;
    padding-top: 4px;
    padding-bottom: 4px;
}

#topbar .navheader {
}
#topbar .navbar-toggle {
    padding: 5px 9px;
    margin: 0px 0px;
}

#topbar li a {
    padding-top: 4px;
    padding-bottom: 4px;
}

#topbar li .active {
    padding-top: 4px;
    padding-bottom: 4px;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-indicators {
  top: 1.5rem;
  right: 1.5rem;
  bottom: auto;
  left: auto;
  width: 1rem;
  margin-left: 0;
}

.carousel-indicators > li {
  margin-bottom: .25rem;
}
.titelbar1 {
  position: absolute;
  z-index: 1;
  float:left;
  margin-top:26%;
  height:30%;
  width:85%;
  background-color: black;
  padding-top: 75px;
  padding-left:14.8%;
}
.titelbar1:hover {
    margin-top:15%;
    height:60%;
    transition: 0.2s ease-in;
    /*display: block;*/
}
#hidden {
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  color: white;
}
#gradient {
    background: transparent; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(transparent, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(transparent, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(transparent, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(transparent, black); /* Standard syntax */
}
/*.noLinkStyle {
    li
}*/
.blog_container {
    background-color: white;
}
.blog1 {
    float: left;
    width: 100%;
    background: black;
    position: relative;
}
.blog1 img {
    min-height: 100px;
    max-height: 700px;
    width: 70%;
    float:left;
    margin-right: 15%;
    margin-left: 15%;
}
.go_left {
    position: absolute;
    z-index: 1;
    float:left;
    height:700px;
    width:14.8%;
    padding-top: 300px;
    padding-left: 5%;
}
.go_left input {
    width: 20%;
}
.go_right {
    position: absolute;
    z-index: 1;
    float: right;
    height:700px;
    width:14.8%;
    padding-top: 300px;
    padding-right: 5%;
    margin-left: 91.2%;
}
.go_right span {
    font-size: 50;
    color: white;
}
.right {

}
.blog2 img{
    float: left;
    margin-top: 10px;
    width: 100%;
    float: left;
    width: 100%;
}
.blog3 img{
    float: left;
    margin-top: 10px;
    width: 100%;
}
.relblog img {
    width: 100%;
    float: left;
}
/*DEV*/
/*DEV*/
/*DEV*/
.dev {
    float: left;
    height: 100%;
    width: 100%;
    background-color: #556680;
}
.green {
    color: green;
    font-size: 20px;
}
.beschrijving {
    width: 60%;
    margin-left:20%;
    margin-right:20%;
    padding: 5%;
    float: left;
}
.footer {
    height: 400px;
    width: 100%;
    float: left;
    background-color: #575757;
    padding: 2%;
}
.footer-icon span {
    font-size: 30px;
}
.icons {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: grey;
    padding: 6px;
}
.icons span {
    font-size: 30px;
}
.top {
    float:left;

}
.footer {
    float: left;
}
.input1 {
  float: left;
  padding: 20px;
  background-color:#747786 ;
  margin: 10px;
  color: white;
}
.input1 input, select {
  float: right;
  border-radius: 7px;
}
.input1 select {
  width: 173px;
  height: 21px;
}
.add img {
    width:40px;
    height: 40px;
    float: right;
    margin-right: 10%;
}
.beschrijving {
    height:140px;
}
.alterProduct {
    transition: height 2s;
}
.hover tr{
    display: none;
}
.alterProduct:hover .hover + tr  {
    display: block;
}
 .boDy {
   width: 120%;
   height: 130%;
   margin-top: -60px;
   margin-left: -10px;
   background-color: #BDC0CB;
}
