<!DOCTYPE>
<html>
  <head>
    <title>{{header}}</title>
    <meta name="view" content="width=device-width, initial-scale=1">
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/index.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="topbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div> <!-- Navbar collapse -->
      </div>
    </nav>

    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a data-toggle="modal" data-target="#login-modal">Login</a></li>
          </ul>
        </div> <!-- Navbar collapse -->
      </div>
    </nav>

    <div class="modal" id="login-modal" tabindex="-1" role="dialog"
      arial-labelledby="loginModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close">
              <span aria-hidden="true">&times;</span></button>
            <h2 align="center" class="modal-title" id="loginLabel">Login</h2>
          </div>
          <div class="modal-body" id="login-body">
            <div class="input-group">
              <span class="input-group-addon">Username</span>
              <input type="text" class="form-control" placeholder="Username"
                aria-describedby="username" id="username-log">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">Password</span>
              <input type="password" class="form-control" placeholder="Password"
                id="password-log" aria-describedby="password">
            </div>
          </div>

          <div class="modal-footer">
            <button id="login" type="button" class="btn btn-info">Login</button>
            <button id="reg-button" type="button" class="btn btn-primary">Register</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Sluit af</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="register-modal" tabindex="-1" role="dialog"
      arial-labelledby="registerModal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span></button>
          <h2 align="center" class="modal-title" id="loginLabel">Login</h2>
        </div>
        <div class="modal-body" id="register-body">
          <div class="modal-dialog" role="document">
            <div class="input-group">
              <span class="input-group-addon">Username</span>
              <input type="text" class="form-control" placeholder="Username"
                aria-describedby="username" id="username-reg" required>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">Password</span>
              <input type="password" class="form-control" placeholder="Password"
                aria-describedby="password" id="password-reg" required>
              <span class="input-group-addon glyphicon glyphicon-remove" id="icon-pass"></span>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">Verify</span>
              <input type="password" class="form-control" placeholder="Password"
                aria-describedby="password" id="password-verify" required>
              <span class="input-group-addon glyphicon glyphicon-remove" id="icon-verify">
              </span>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">Email</span>
              <input type="text" class="form-control" placeholder="Email adress"
                aria-describedby="email" id="email" required>
            </div>

            <div class="modal-footer">
              <button id="register" type="button" class="btn btn-info">Register</button>
              <button id="log-button" type="button" class="btn btn-primary">Login</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Sluit af</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% block main %}
    {% endblock %}
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="static/bootstrap/js/bootstrap.min.js"></script>
  <script src="js/{{file}}.js"></script>
</html>
