{% extends "base.html" %}

{% block main %}
  <div id="main" class="container">
    <div class="starter-template">
      <h1>Bootstrap</h1>
      <p>Hello world program.</p>
      <button id="run-sql" class="btn btn-danger">Get pictures</button>

      <select id="titles">
      </select>
      <button onclick="add_picture();" class="btn btn-danger">Add picture</button>

      <p id="user"></p>
    </div>
  </div>
{% endblock %}
